<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
                <th>웹사이트</th>
            </tr>
            <tr v-for="(item, index) in list">
                <td>{{index+1}}</td>
                <td v-if="index % 2 == 0" style="color: aqua;">{{item.name}}</td>
                <td v-if="index % 2 == 1" style="color: rgb(236, 157, 247);">{{item.name}}</td>
                <!-- <td>{{item.id}}</td> -->
                <!-- <td>{{item.name}}</td> -->
                <td>{{item.email}}</td>
                <td>{{item.website}}</td>
            </tr>
        </table>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수
                list : []
            };
        },
        methods: {
            // 함수(메소드)
            fnSample: function () {
                let self = this;

                $.ajax({
                    url: "https://jsonplaceholder.typicode.com/users",
                    dataType: "json",
                    type: "GET",
                    data: {},
                    success: function (data) {
                        
                        self.list = data;
                        console.log(data);
                    }
                });
            }
        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
            var self = this;
            self.fnSample();
        }
    });

    app.mount('#app');
</script>